body {
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.sky {
    width: 100%;
    background-color:#87ceeb;
    position: relative;
}

svg {
    max-height: 100vh;
}

.title {
    width: 40%;
    min-height: 100px;
    
}
.title h1 {
    font-size: 5rem;
    font-style: italic;
    padding: 0;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
}
.title h2 {
    margin-top: 0;
    font-weight: 300;
}

.centered {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -65%);
    transform: translate(-50%, -65%);
    color: #fff;
}
.section {
    max-width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    padding-left: 400px;
    padding-right: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box; 
    color: #293346;
}

.section h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0;
}

.section p {
    font-size: 1.4rem;
}

header {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    text-align: justify;
}

.logo {
    flex: .25;
    padding: 20px 20px;
    color: #fff;
    font-size: 0.5rem;
    align-self: center;
}

nav {
    padding: 10px;
    margin-left: auto;
    align-self: center;
    display: flex;
    flex-direction: row;
    padding-right: 100px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 1rem;
  }
  
  nav a:hover {
    color: #009faf;
  }
  
  .contact-btn {
    background: #009faf;
    padding: 7px 25px;
    text-align: center;
    color: white;
    border-radius: 5px;
  }
  
  .contact-btn:hover {
    color: white;
  }

  .background {
    background: #8B4DFB;
    color: white;
  }

  .background p {
      font-size: 1.3rem;
      line-height:1.5rem;
  }

  .column p {
      font-size: 1rem;
      font-weight: 300;
  }

  .hero.is-white {
    background-color: #fff;
    color: #293346;
}

.about {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    background-color: #8C43FF;
    color: #fff;
    min-height: 500px auto;
}
.has-text-centered {
    text-align: center !important;
}

.column {
    width: 60%;
    margin: auto;
}

.about-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 10rem;
    min-height: 500px auto;
    box-sizing: border-box; 
}
.about-foot {
    padding: 0rem 1.5rem;
    margin-top: 100px;
}
.about-head, .about-foot {
    flex-grow: 0;
    flex-shrink: 0;
}

.container {
    margin: 0 auto;
    position: relative;
}

.about img {
    height: auto;
    max-width: 50%;
    margin: auto;
}

.aboutTitle {
    font-size: 3rem;
    text-align: center;
    margin: auto;

}

  .work {
    width: 100%;
    min-height: 700px;
    display: flex;
    color: #293346;
    align-items: center;
    flex-direction: column; 
  }

  .work-body {
      width: 80%;
      min-height: 600px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      text-align: center;
  }

  .work-title {
      width: 80%;
      height: 150px;
      text-align: center;
  }

  .work-title p {
    text-align: center;
  }

.divider {
    width: 100%;
    height: 200px;
    background-color: #8C43FF;
}
  .item {
    display: inline-block;
    background-color: #444;
    color: #fff;
    width: 30%;
    border-radius: 5px;
    margin: 1%;
    height: 250px;
  }

  .item1 {
    
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: red;
  }


  .skills {
      width: 100%;
      min-height: 600px;
      
  }

  .skills-body {
    max-width: 1200px;
    position: relative;
    width: 60%;
    min-height: 400px;
    margin: auto;
    text-align: center;
    display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      align-content: center;
      top: -100;
  }
  
  i{
    color:#8C43FF;
    font-size: 3rem;
  }

  .skills-content {
      width: 100%;
      min-height: 600px auto;
      border-radius: 12px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: #293346;
      background-color: #fff;

  }

  .skills-title {
      width: 100%;
      height: 100px;
      text-align: center;
  }

  .skills-column {
      width: 50%;
      border-radius: 12px;
      height: auto;
      padding: 30px;
      box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
      text-align: center;
      background: #fff;
      
  }

  .skills-column p {
      text-align: center;
      margin: 0;
  }

  .skills-column h3 {
      margin-bottom: 0;
      color:#8C43FF;
  }
  ul {
     list-style: none;
     padding: 0;
  }

  .social {
    width: 100%;
    min-height: 400px;
    background: #8B4DFB;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    color: #fff;
    margin-top: 60px;
  }

  .social-icons {
      width: 200px;
      min-height: 60px;
      display: flex;
      justify-content: space-between;
        
  }

  .social-icons i {
    color: #fff;
  }


  .contact {
      width: 100%;
      min-height: 600px;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    
  }

  .contact-body {
      width: 60%;
      min-height: 600px;
      position: relative;
      top: -100;
      background: white;
      margin: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-content: center;
      box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
      border-radius: 12px;
      box-sizing: border-box;
      padding-top: 40px;
      padding-bottom: 40px;
      }


      label {
        font-weight: 400;
        font-size: 1.2rem;
        color: rgba(41,51,71,0.65);
        display: block;
        text-align: left;
      }

      input {
        border: 1px solid #E6ECF8;
        color: #293347;
        box-shadow: none;
        font-weight: 300;
        width: 100%;
        padding: 15px;
        display: block;
        font-size: 1.4rem;
      }

     textarea {
        width: 100%;
        border: 1px solid #E6ECF8;
        color: #293347;
        box-shadow: none;
        font-weight: 300;
        padding: 20px;
        font-size: 1.4rem;
      }
      input[type="submit"] {
        border-radius: 50px;
        background-color: transparent;
        border-color: #8C43FF;
        color: #8C43FF;
        margin-top: 30px;
        border-width: 2px;
      }
      form {
          width: 60%;
          margin: auto;
      }

      input[type="submit"]:hover {
          background: #8B4DFB;
          color: #fff;
          cursor: pointer;
      }

      .footer {
          width: 100%;
          min-height: 300px;
          background: #8C43FF;
          color: #DCC9FD;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

      }

      .footer i {
          color: #DCC9FD;
          font-size: 30px;
      }

      .imageContainer {
          width: 600px;
          height: 300px;
          margin: auto;
          margin-bottom: -55;
      }



  @media only screen and (max-width: 1000px) {
      .about {
          min-height: 600px;
          height:auto;
      }

      /* .avatar {
          width: 40%;
      } */

    
    .title h1 {
        font-size: 2rem;
      }

      .title h2 {
          font-size: 1rem;
      }
      .section {
          min-height: 600px;
          padding: 10px;
      }
      .section h1 {
        font-size: 2rem;
      }

      .section p {
        font-size: 1rem;
        text-align: justify;
      }
      p {
          text-align: justify;
      }

      .about-body {
          width: 100%;
          padding: 20px;
          
      }
      .column {
          width: 100%;
      }

      .skills-content {
          flex-direction: column;
          width: 100%;
          align-items: center;
      }
      .skills-body {
        width: 60%;
      }

      .skills-column {
          width: 100%;
      }

      .item {
          width: 100%;
      }

      .contact-body {
          width: 100%;
      }

      form {
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
      }
  }






  